/* Dark mode (light mode?)!! */
.dark-mode {
  --theme-color: #aab0f0;
  --btn-fade-color: #aab0f0c0;
  --link-color: #aab0f0;
  --link-fade-color: #464e94a0; /* softer link color, esp for visitation fades */
  --hglt-color: #e39cbf;
  --abort-color: #ff6a6a;

  --bkgd-color: #202022;
  --frgd-color: #f1f1f1;
  --off-bkgd: #303033;

  --theme-color: #aab0f0;
  --hglt-color: #e39cbf;
  --btn-fade-color: #aab0f0c0;
  --abort-color: #e98282;

  a:visited {
    color: var(--btn-fade-color);
  }
  nav {
    background-color: var(--off-bkgd);
    color: white;
  }
  footer {
    background-color: var(--bkgd-color);
    color: white;
  }
  article {
    background-color: var(--off-bkgd);
  }
  .button {
    background-color: var(--bkgd-color);
    border-color: var(--theme-color);
    color: var(--hglt-color);
  } .button:hover:enabled {
    background-color: var(--theme-color);
    border-color: var(--hglt-color);
    color: var(--off-bkgd);
  }
}