/* columns */
.col {
  display: flex;
  flex-direction: column;
}

/* rows */
.row {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.rev-row {
  display: flex;
  flex-direction: row-reverse;
}

/* all the center alignments go together */
.center {
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
.row.top {
  align-content: start;
  align-items: start;
}
/* right/left aligns */
.row.flex-right, .rev-row.flex-left {
  justify-content: end;
  justify-items: end;
}
.col.flex-right {
  align-items: end;
  align-content: end;
}
.row.flex-left, .rev-row.flex-right {
  justify-content: start;
  justify-items: start;
}
.col.flex-left {
  align-items: start;
  align-content: start;
}