/* global styles for all pages */
:root {
  --theme-color: #815aae; /* theme color */
  --secondary-color: #66444a; /* secondary theme color */
  --highligher-color: #ff9b9ba0; /* highlighter color */
  --abort-color: #9f4646; /* abort red color */

  --frgd-color: #101010; /* base foreground */
  --off-frgd: #444444;
  --frgd-transparent: #101010aa;
  --bkgd-color: #e0e0e3; /* base background */
  --off-bkgd: #c7c7c7; /* off-color background */
  
}

/* set base colors, sizing, fonts, also destroy body margin and paddings */
body {
  background-color: var(--bkgd-color);
  box-sizing: border-box;
  color: var(--frgd-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* 
 * Hide scrollbar for Chrome, Safari and Opera 
 * https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
 */
body::-webkit-scrollbar {
  display: none;
}

/* misc useful classes */
.border {
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
}
.full-width {
  width: 100%;
}
.hz-vt-spacer {
  min-width: 10px;
  min-height: 10px;
}
.mb-1 { /* margin below 1 */
  margin-bottom: 10px;
}
.mb-3 { /* margin below 3 */
  margin-bottom: 30px;
}
.off-frgd {
  color: var(--off-frgd);
}
.lr-pad {
  padding-left: 15px;
  padding-right: 15px;
}
.tb-pad {
  padding-bottom: 15px;
  padding-top: 15px;
}
.secondary-color {
  background-color: var(--secondary-color);
  color: var(--bkgd-color);
}
.white {
  background-color: white;
}

/* global content settings for all pages */
#content {
  padding: 30px;
}

/* logo settings for all pages */
.logo {
  color: var(--off-bkgd);
  font-family: Impact, Arial;
  font-size: 75px;
  font-weight: 1000;
  letter-spacing: 10px;
  line-height: 5px;
  text-transform: uppercase;
}

/* control buttons */
.btn {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--off-bkgd);
  cursor: pointer;
  padding: 10px;
  transition-duration: 0.15s;
}
.btn:enabled:hover {
  background-color: var(--bkgd-color);
  color: var(--off-frgd);
}
/* anything that closes a popup or aborts an action */
.abort-btn {
  background-color: var(--bkgd-color);
  border: 2px solid var(--abort-color);
  color: var(--abort-color);
}
.abort-btn:enabled:hover {
  background-color: var(--abort-color);
  color: var(--bkgd-color);
}

/* style links for defaults (because link defaults are horrifying) */
a {
  color: var(--theme-color);
  text-decoration: none;
  transition-duration: 0.15s;
}
a:hover {
  color: var(--secondary-color);
}
a.hover-underline:hover {
  text-decoration: underline;
}
a.disabled {
  cursor: default;
}
a.disabled:hover {
  color: var(--theme-color);
  text-decoration: none;
}
/* nav links*/
a.nav:hover {
  text-shadow: 0px 0px 10px var(--theme-color);
}