/* new backdrop? new backdrop. */
body {
  background-color: var(--secondary-color);
}

/* fix logo */
.logo {
  color: var(--secondary-color);
  font-size: 50px;
}

/* image smoller */
.avatar {
  max-width: 75%;
}

/* contain it */
.login-container {
  align-self: center;
  background-color: var(--bkgd-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 50px;
  padding: 30px;
  position: inherit;
  width: 40%;
}

/* hide signup-only content for login */
.login-mode .signup-only {
  display: none;
}

/* set form text content */
.txt {
  margin: 0;
  line-height: 10pt;
  padding: 0;
}
.form-label {
  font-size: 8pt;
  font-weight: 100;
  opacity: 0.6;
}
.verifier {
  color: var(--abort-color);
}

/* control form input fields */
.form-item {
  border: 2px solid var(--off-frgd);
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;
}

/* control form buttons */
.btn {
  font-size: 10pt;
  font-weight: 100;
  width: 100%;
}