/* style the logout button */
.abort-link a {
  color: var(--abort-color);
}
.abort-link:hover a {
  color: var(--bkgd-color);
  cursor: pointer;
}

/* style the profile icon */
.pfp {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}
.pfp.thumbnail {
  height: 25px;
  object-fit: cover;
  width: 25px;
}

/* copyright settings */
#copyright {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font: 12px times;
}