/* style the logout button */
.abort-link a {
  color: var(--abort-color);
}
.abort-link:hover a {
  color: var(--bkgd-color);
  cursor: pointer;
}

/* style the header/footer */
.vflex-center {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 15px 0px;
  width: 100%;
}

/* style the profile icon */
.pfp-thumbnail {
  border-radius: 50%;
  max-width: 25px;
  opacity: 0.75;
}

/* misc useful tags */
.secondary-color {
  background-color: var(--secondary-color);
  color: var(--bkgd-color);
}
.off-frgd {
  color: var(--off-frgd);
}
.hz-vt-spacer {
  min-width: 10px;
  min-height: 10px;
}

/* copyright settings */
#copyright {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font: 12px times;

  padding: 10px 0px;
  width: 100%;
}