/* style the logout button */
.abort-link a {
  color: var(--abort-color);
}
.abort-link:hover a {
  color: var(--bkgd-color);
  cursor: pointer;
}

/* style the profile icon */
.pfp-thumbnail {
  border-radius: 50%;
  max-width: 25px;
  opacity: 0.75;
}

/* copyright settings */
#copyright {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font: 12px times;
}