canvas {
  margin-left: 25px;
  margin-right: 50px;
  background-color: rgb(235, 225, 255);
  border: 2px solid rgb(58, 42, 58);
}
/* .animable {
  background-color: rgba(220, 73, 122, 0.5);
} */
.dark-mode canvas {
  border: none;
}