table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1px;
  text-align: center;
  th {
    background-color: yellow; /* awful color choice T-T */
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: bold;
    padding: 1px 4px;
  } td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1px 4px;
  }
}

.dark-mode {
  table {
    border-color: white;
    th {
      background-color: #3a447f;
      border-color: white;
    } td {
      border-color: white;
    }
  }
}